################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Project/FileContentIndex/73124d66-6cdb-4955-a673-a335b10130de.vsidx
/.vs/Project/FileContentIndex/aedbc3cd-58af-4756-b7cc-0706168967f0.vsidx
/.vs/Project/config
*.vsidx
/.vs/Project/FileContentIndex/16fe4b5a-ca35-4560-99db-87e31a2a228d.vsidx
